<div class="example-container mat-elevation-z8">
  <div *ngIf="isLoadingResults" class="example-loading-shade">
    <mat-spinner></mat-spinner>
  </div>

  <div class="example-table-container">

    <table mat-table [dataSource]="data" class="example-table">

      <ng-container matColumnDef="publicationType">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="fill">
            <mat-label>Тип публікації</mat-label>
            <mat-select [formControl]="publicationType" multiple>
              <mat-option *ngFor="let item of publicationTypes" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let row">{{row.publicationType}}</td>
      </ng-container>

      <ng-container matColumnDef="termType">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="fill">
            <mat-label>Періодичність</mat-label>
            <mat-select [formControl]="termType" multiple>
              <mat-option *ngFor="let item of termTypes" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let row">{{row.termType}}</td>
      </ng-container>

      <ng-container matColumnDef="reportGroup">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="fill">
            <mat-label>Категорія суб'єкта</mat-label>
            <mat-select [formControl]="reportGroup" multiple>
              <mat-option *ngFor="let item of reportGroups" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let row">{{row.reportGroup}}</td>
      </ng-container>

      <ng-container matColumnDef="reportState">
        <th mat-header-cell *matHeaderCellDef>
          <mat-form-field appearance="fill">
            <mat-label>Статус</mat-label>
            <mat-select [formControl]="reportState" multiple>
              <mat-option *ngFor="let item of reportStates" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </th>
        <td mat-cell *matCellDef="let row">{{row.reportState}}</td>
      </ng-container>

      <ng-container matColumnDef="reportFormat">
        <th mat-header-cell *matHeaderCellDef>Тип файлу</th>
        <td mat-cell *matCellDef="let row">{{row.reportFormat}}</td>
      </ng-container>

      <ng-container matColumnDef="outputDate">
        <th mat-header-cell *matHeaderCellDef>Вихідна дата документу</th>
        <td mat-cell *matCellDef="let row">{{row.outputDate.date | date}}</td>
      </ng-container>

      <ng-container matColumnDef="outputNumber">
        <th mat-header-cell *matHeaderCellDef>Вихідний номер документу</th>
        <td mat-cell *matCellDef="let row">{{row.outputNumber}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
